# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.env
*.env

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
